* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
  }
 
.image-note{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}  
  section {
    margin-top: 40px;
  }
  
  #navbar {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid;
    border-right: 3px solid rgb(77, 54, 1);
  }
  #navbar li {
    color: #4e4d53;
    border-top: 1px solid black;
    list-style: none;
  }
  
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #4e4d53;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  #navbar a:hover {
    font-weight: 500;
    text-indent: 5px;
    transition: text-indent 0.3s ease-in-out;
  }
  
  p {
    margin: 10px;
    text-align: justify;
  }
  
  #main-doc {
    margin: 0 auto;
  }
  
  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
  }
  
  code {
    display: block;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.1em;
    background-color: whitesmoke;
    padding: 1px  ;
    margin: 20px;
    margin-top: 2px;
    border-radius: 5px;
  }
  
  img {
    width: 20%;
    margin-left: 350px;
    margin-right: auto;
    border-radius: 6px;
  }
  /*Pié de página*/
  footer {
    padding: 30px;
    text-align: center;
    font-size: 1.8em;
  }
  
  footer a {
    color: #4e4d53;
  }

  /*Copyright*/
  .copyright_paco {
    font-family: system-ui, '-apple-system, BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
    text-align: center;
    font-size: 15px;
    font-weight: 300px;
    font-style: italic;
  }
  .uni-red {
    color: blue;
  }

  /*Diseño responsivo*/
  @media only screen and (min-width: 715px) {
    body {
      flex-direction: row;
    }
  
  #navbar {
    width: 300px;
    position: fixed;
    height: 100%;
    resize: horizontal;
    overflow-x: scroll;
  }
  .lista {
    margin-left: 10px;
    margin: 10px;
    padding: 5px;
    min-height: 1.1em;
    list-style: none;
  }
  
  .image {
    width: 70%;
  }
  
  #main-doc {
    margin: 0 20px;
    margin-left: 300px;
  }

  .leaves {
    padding-bottom: 15px;
  }
  .margin-end { 
    margin-left: 5px; /* Ajusta el valor según sea necesario */ 
    display: flex;
    align-items: center;
  }
  .margin-top-end{
    margin-top: -15px;
    padding-top: -5px;
  }
  }

  .redes-f{
    color: blue;
  }
  .redes-git{
    color: black;
  }
  .redes-ink{
    color: rgb(237, 118, 14);
  }
  .redes-ins{
    color: red;
  }


  

